/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  /* background-color: red; */
}

/* My CSS Additions */
nav {
  display: flex;
	/* float: right; */
  justify-content: space-between;
  /* margin-left: auto;
  margin-right: 0; */ */
}

div {
  padding-bottom: 2%;
}

.intro {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  margin: 5%;
  padding: 5%;
}

.intro p {
  font-size: 20px;
  padding-bottom: 2%;
}

img {
  height: 5%;
  width: 30%;
}

h1 {
  font-size: 48px;
  padding-top: 1%;
  padding-bottom: 1%;
}

h3 {
  font-size: 30px;
  padding-bottom: 2%;
}

h5 {
  font-size: 30px;
  padding-bottom: 2%;
}

button {
  background-color: grey;
  color: white;
	font-family: inherit;
	border: 1px solid black;
	border-radius: 5px;
	height: 40px;
	width: 200px;	
	text-align: center;	
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* troubleshooting border */
  border: 1px solid red; 
}

.skills div {
  width: 40%;
  /* troubleshooting border */
  border: 1px solid blue;
}

.skills h5 {
  text-align: center;
}

li {
  border: 1px solid lightgrey;
  text-align: center;
}

.work-history {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

footer {
  padding: 2%;
  text-align: center;
}