/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Added variables for font stack and color */
/* Added mixins */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
/* template, planning for media query */
/* 	Make nav bar a column
	Center intro items
	Optimize table for mobile
	*/
/* @media (max-width: 500px) {

} */
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  /* background-color: red; */
}
/* My CSS Additions - Using Nesting */
nav {
  display: flex;
  justify-content: center;
  margin-left: auto;
  width: 40%;
  padding: 1%;
}
nav a {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  padding: 0 2px;
  border-spacing: 0 5px;
}
@media (max-width: 500px) {
  nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    width: 50%;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  margin: 5%;
  padding: 5%;
}
.intro div {
  padding-bottom: 2%;
}
@media (max-width: 500px) {
  .intro div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.intro p {
  font-size: 20px;
  padding-bottom: 2%;
}
.intro img {
  height: 5%;
  width: 30%;
}
@media (max-width: 500px) {
  .intro img {
    width: 100%;
  }
}
.intro h1 {
  font-size: 48px;
  padding-top: 1%;
  padding-bottom: 1%;
}
.intro h5 {
  font-size: 30px;
  padding-bottom: 2%;
}
.intro button {
  background-color: gray;
  color: white;
  font-family: inherit;
  border: 1px solid black;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  text-align: center;
}
@media (max-width: 500px) {
  .intro button {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .intro {
    justify-content: center;
  }
}
.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.skills div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
  width: 50%;
}
.skills div:last-child {
  align-items: center;
}
.skills h3 {
  font-size: 30px;
  padding-bottom: 2%;
}
.skills h5 {
  font-size: 30px;
  padding-bottom: 2%;
  text-align: center;
}
.skills ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
  width: 50%;
}
.skills li {
  border: 1px solid lightgrey;
  text-align: center;
}
.work-history {
  display: flex;
  padding: 2%;
}
.work-history table {
  padding: 20%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .work-history table {
    display: block;
  }
}
.work-history th {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 1%;
}
@media (max-width: 500px) {
  .work-history th {
    display: none;
  }
}
.work-history tr:nth-child(even) {
  background: lightgrey;
}
.work-history td {
  padding: 1%;
}
@media (max-width: 500px) {
  .work-history td {
    display: block;
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
}
@media (max-width: 500px) {
  .work-history td:before {
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
@media (max-width: 500px) {
  .work-history td:nth-of-type(1):before {
    content: "Yrs";
  }
}
@media (max-width: 500px) {
  .work-history td:nth-of-type(2):before {
    content: "Company";
  }
}
@media (max-width: 500px) {
  .work-history td:nth-of-type(3):before {
    content: "Title";
  }
}
@media (max-width: 500px) {
  .work-history td:nth-of-type(4):before {
    content: "Tech Used";
  }
}
@media (max-width: 500px) {
  .work-history {
    display: block;
  }
}
.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}
.contact address {
  text-align: center;
}
footer {
  padding: 1%;
  text-align: center;
  background-color: gray;
  color: white;
}
